extends layout

block content
    h1= title
    p #{title}
    div.container
        p Cool FORM page!

    table.table-hover
        tr
            th header 1
            th header 2
        tr
            td element
            td element
        tr
            td element
            td element